a {
    color: blue;
    text-decoration: none;
}
.mikoukai {
    color: red;
}
html {
    background-color: rgb(255, 241, 162);
}
.m {
    text-align:center
}
.sa-bisu {
    text-align: center;
}
.red {
    color: red;
}